* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#2a053a, #4d095b, #2a053a);
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    color: #e3bbf5;
    padding: 2rem;
    text-align: center;
    border-bottom: #480b62 2px solid;
}

h1 {
    text-shadow: 2px 2px 8px #e3bbf566;
    margin: 10px 0px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: #2a053a;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
}

a:hover {
    background: #350748;
    box-shadow: 0 0 15px #09000633;
}

p {
    text-shadow: 2px 2px 8px #e3bbf566;
    margin: 10px 0px;
    color: #ffffff;
}


h2 {
    color: #c340ff;
    font-size: 1.7rem;
    text-shadow: 2px 2px 8px #14031c66;

}

li {
    list-style: none;
    font-size: 1rem;
    color: #ffffff;
    margin: 10px 0px;
    font-weight: 500;
    text-transform: uppercase;
}

.curiosidades li {
    text-transform: capitalize;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin: 30px 0px;
    color: #1f022c;
}

section {
    background: rgba(207, 48, 235, 0.2);
    padding: 1.5rem;
    margin: 30px 0px;
    border-radius: 10px;
}

section:hover {
    box-shadow: 0 0 15px #09000633;
}

.sobremim {
    display: flex;
    gap: 30px;
}

.p {
    color: #ffffff;
    line-height: 1.5;
}

footer {
    text-align: center;
    margin: 60px;
    font-size: 14px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: #edd5f966 4px solid;
    box-shadow: 2px 2px 8px #edd5f966;

}